In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\karthikeyan\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\karthikeyan\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\karthikeyan\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\karthikeyan\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\karthikeyan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\karthikeyan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import os
print(os.getcwd())

C:\Users\Karthikeyan

In [3]:
import pandas as pd

df_customers = pd.read_csv('Customers.csv', encoding='ISO-8859-1')
df_sales = pd.read_csv('Sales.csv')
df_products = pd.read_csv('Products.csv')
df_stores = pd.read_csv('Stores.csv')
df_exchange_rates = pd.read_csv('Exchange_Rates.csv')


merged_df = pd.merge(df_sales, df_customers, on='CustomerKey', how='left')
merged_df = pd.merge(merged_df, df_products, on='ProductKey', how='left')
merged_df = pd.merge(merged_df, df_stores, on='StoreKey', how='left')
merged_df = pd.merge(merged_df, df_exchange_rates, left_on=['Order Date', 'Currency Code'], right_on=['Date', 'Currency'], how='left')
merged_df.drop(columns=['Date', 'Currency'], inplace=True)

In [9]:
merged_df.to_csv('merged_data.csv', index=False)

In [5]:
#finding missing values
missing_values = merged_df.isnull().sum()
print(missing_values[missing_values > 0])

Delivery Date    49719
State Code          30
Square Meters    13165
dtype: int64

In [15]:
missing_state = (merged_df['State_x'] == 'Napoli') & (merged_df['State Code'].isnull())
merged_df.loc[missing_state, 'State Code'] = 'NA'

In [17]:
duplicates = merged_df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 0

In [19]:
merged_df.rename(columns={'State_x': 'Customer_state', 'State_y': 'Store_state'}, inplace=True)
print(merged_df.columns)

Index(['Order Number', 'Line Item', 'Order Date', 'Delivery Date',
       'CustomerKey', 'StoreKey', 'ProductKey', 'Quantity', 'Currency Code',
       'Gender', 'Name', 'City', 'State Code', 'Customer_state', 'Zip Code',
       'Country_x', 'Continent', 'Birthday', 'Product Name', 'Brand', 'Color',
       'Unit Cost USD', 'Unit Price USD', 'SubcategoryKey', 'Subcategory',
       'CategoryKey', 'Category', 'Country_y', 'Store_state', 'Square Meters',
       'Open Date', 'Exchange'],
      dtype='object')

In [21]:
merged_df['Unit Cost USD'] = merged_df['Unit Cost USD'].str.replace('[$,]', '', regex=True).astype(float)
merged_df['Unit Price USD'] = merged_df['Unit Price USD'].str.replace('[$,]', '', regex=True).astype(float)

merged_df['Gross_profit'] = merged_df['Unit Price USD'] - merged_df['Unit Cost USD']

merged_df['Gross_profit_margin (%)'] = (merged_df['Gross_profit'] / merged_df['Unit Price USD']) * 100

merged_df['Markup (%)'] = ((merged_df['Unit Price USD'] - merged_df['Unit Cost USD']) / merged_df['Unit Cost USD']) * 100

merged_df['Price_to_Cost_ratio'] = merged_df['Unit Price USD'] / merged_df['Unit Cost USD']

print(merged_df)

       Order Number  Line Item Order Date Delivery Date  CustomerKey  \
0            366000          1   1/1/2016           NaN       265598
1            366001          1   1/1/2016     1/13/2016      1269051
2            366001          2   1/1/2016     1/13/2016      1269051
3            366002          1   1/1/2016     1/12/2016       266019
4            366002          2   1/1/2016     1/12/2016       266019
...             ...        ...        ...           ...          ...
62879       2243030          1  2/20/2021           NaN      1216913
62880       2243031          1  2/20/2021     2/24/2021       511229
62881       2243032          1  2/20/2021     2/23/2021       331277
62882       2243032          2  2/20/2021     2/23/2021       331277
62883       2243032          3  2/20/2021     2/23/2021       331277

       StoreKey  ProductKey  Quantity Currency Code  Gender  ...  \
0            10        1304         1           CAD    Male  ...
1             0        1048         2           USD    Male  ...
2             0        2007         1           USD    Male  ...
3             0        1106         7           CAD  Female  ...
4             0         373         1           CAD  Female  ...
...         ...         ...       ...           ...     ...  ...
62879        43         632         3           USD    Male  ...
62880         0          98         4           EUR  Female  ...
62881         0        1613         2           CAD    Male  ...
62882         0        1717         2           CAD    Male  ...
62883         0         464         7           CAD    Male  ...

                            Category      Country_y Store_state Square Meters  \
0             Cameras and camcorders         Canada     Nunavut        1210.0
1             Cameras and camcorders         Online      Online           NaN
2                    Home Appliances         Online      Online           NaN
3             Cameras and camcorders         Online      Online           NaN
4                          Computers         Online      Online           NaN
...                              ...            ...         ...           ...
62879                      Computers  United States      Alaska        1190.0
62880                          Audio         Online      Online           NaN
62881  Music, Movies and Audio Books         Online      Online           NaN
62882                 Games and Toys         Online      Online           NaN
62883                      Computers         Online      Online           NaN

      Open Date Exchange Gross_profit Gross_profit_margin (%)  Markup (%)  \
0      4/4/2015   1.3884        36.73               54.014706  117.460825
1      1/1/2010   1.0000       285.53               66.868852  201.830777
2      1/1/2010   1.0000       445.30               66.867886  201.821972
3      1/1/2010   1.3884       173.92               54.012422  117.450027
4      1/1/2010   1.3884       159.80               49.018405   96.149218
...         ...      ...          ...                     ...         ...
62879  1/1/2015   1.0000        68.13               49.014388   96.133766
62880  1/1/2010   0.8238        64.82               54.016667  117.470098
62881  1/1/2010   1.2610        53.91               49.013547   96.130528
62882  1/1/2010   1.2610        37.88               54.013974  117.457364
62883  1/1/2010   1.2610       454.03               66.867452  201.818020

      Price_to_Cost_ratio
0                2.174608
1                3.018308
2                3.018220
3                2.174500
4                1.961492
...                   ...
62879            1.961338
62880            2.174701
62881            1.961305
62882            2.174574
62883            3.018180

[62884 rows x 36 columns]

In [23]:
merged_df.to_csv('merged_df.csv', index=False)

In [27]:
#z-score test
from scipy import stats
import numpy as np

numeric_cols = merged_df.select_dtypes(include=[np.number])
z_scores = np.abs(stats.zscore(numeric_cols))
outliers = (z_scores > 3)
print(outliers)

       Order Number  Line Item  CustomerKey  StoreKey  ProductKey  Quantity  \
0             False      False        False     False       False     False
1             False      False        False     False       False     False
2             False      False        False     False       False     False
3             False      False        False     False       False     False
4             False      False        False     False       False     False
...             ...        ...          ...       ...         ...       ...
62879         False      False        False     False       False     False
62880         False      False        False     False       False     False
62881         False      False        False     False       False     False
62882         False      False        False     False       False     False
62883         False      False        False     False       False     False

       Unit Cost USD  Unit Price USD  SubcategoryKey  CategoryKey  \
0              False           False           False        False
1              False           False           False        False
2              False           False           False        False
3              False           False           False        False
4              False           False           False        False
...              ...             ...             ...          ...
62879          False           False           False        False
62880          False           False           False        False
62881          False           False           False        False
62882          False           False           False        False
62883          False           False           False        False

       Square Meters  Exchange  Gross_profit  Gross_profit_margin (%)  \
0              False     False         False                    False
1              False     False         False                    False
2              False     False         False                    False
3              False     False         False                    False
4              False     False         False                    False
...              ...       ...           ...                      ...
62879          False     False         False                    False
62880          False     False         False                    False
62881          False     False         False                    False
62882          False     False         False                    False
62883          False     False         False                    False

       Markup (%)  Price_to_Cost_ratio
0           False                False
1           False                False
2           False                False
3           False                False
4           False                False
...           ...                  ...
62879       False                False
62880       False                False
62881       False                False
62882       False                False
62883       False                False

[62884 rows x 16 columns]

In [29]:
columns_to_remove = ['Exchange','Gross_profit_margin (%)','Markup (%)','Price_to_Cost_ratio','Continent','City','Name','Currency Code','Line Item'] 
df_filtered = merged_df.drop(columns=columns_to_remove)

In [31]:
import pandas as pd


df_filtered = df_filtered.rename(columns={
    'Country_x': 'Customer_country',
    'Country_y': 'Store_country',
   })

# Convert 'Order_Date' and 'Birthday' to datetime
df_filtered['Order Date'] = pd.to_datetime(df_filtered['Order Date'], errors='coerce')
df_filtered['Birthday'] = pd.to_datetime(df_filtered['Birthday'], errors='coerce')

# Calculate customer age in years
df_filtered['customer_age'] = (df_filtered['Order Date'] - df_filtered['Birthday']).dt.days // 365

# Check the updated DataFrame
print(df_filtered)

       Order Number Order Date Delivery Date  CustomerKey  StoreKey  \
0            366000 2016-01-01           NaN       265598        10
1            366001 2016-01-01     1/13/2016      1269051         0
2            366001 2016-01-01     1/13/2016      1269051         0
3            366002 2016-01-01     1/12/2016       266019         0
4            366002 2016-01-01     1/12/2016       266019         0
...             ...        ...           ...          ...       ...
62879       2243030 2021-02-20           NaN      1216913        43
62880       2243031 2021-02-20     2/24/2021       511229         0
62881       2243032 2021-02-20     2/23/2021       331277         0
62882       2243032 2021-02-20     2/23/2021       331277         0
62883       2243032 2021-02-20     2/23/2021       331277         0

       ProductKey  Quantity  Gender State Code     Customer_state  ...  \
0            1304         1    Male         ON            Ontario  ...
1            1048         2    Male         CA         California  ...
2            2007         1    Male         CA         California  ...
3            1106         7  Female         AB            Alberta  ...
4             373         1  Female         AB            Alberta  ...
...           ...       ...     ...        ...                ...  ...
62879         632         3    Male         CA         California  ...
62880          98         4  Female         BW  Baden-Württemberg  ...
62881        1613         2    Male         AB            Alberta  ...
62882        1717         2    Male         AB            Alberta  ...
62883         464         7    Male         AB            Alberta  ...

      SubcategoryKey                       Subcategory CategoryKey  \
0                406  Cameras & Camcorders Accessories           4
1                402               Digital SLR Cameras           4
2                803                        Microwaves           8
3                402               Digital SLR Cameras           4
4                301                           Laptops           3
...              ...                               ...         ...
62879            305              Projectors & Screens           3
62880            106              Bluetooth Headphones           1
62881            602                         Movie DVD           6
62882            702                    Download Games           7
62883            304                          Monitors           3

                            Category  Store_country Store_state  \
0             Cameras and camcorders         Canada     Nunavut
1             Cameras and camcorders         Online      Online
2                    Home Appliances         Online      Online
3             Cameras and camcorders         Online      Online
4                          Computers         Online      Online
...                              ...            ...         ...
62879                      Computers  United States      Alaska
62880                          Audio         Online      Online
62881  Music, Movies and Audio Books         Online      Online
62882                 Games and Toys         Online      Online
62883                      Computers         Online      Online

       Square Meters  Open Date  Gross_profit customer_age
0             1210.0   4/4/2015         36.73           44
1                NaN   1/1/2010        285.53           20
2                NaN   1/1/2010        445.30           20
3                NaN   1/1/2010        173.92           53
4                NaN   1/1/2010        159.80           53
...              ...        ...           ...          ...
62879         1190.0   1/1/2015         68.13           81
62880            NaN   1/1/2010         64.82           81
62881            NaN   1/1/2010         53.91           27
62882            NaN   1/1/2010         37.88           27
62883            NaN   1/1/2010        454.03           27

[62884 rows x 28 columns]

In [33]:
df_filtered.to_csv('Global_data.csv', index=False)

In [55]:
print(df_filtered)

       Order Number Order Date Delivery Date  CustomerKey  StoreKey  \
0            366000 2016-01-01          None       265598        10
1            366001 2016-01-01     1/13/2016      1269051         0
2            366001 2016-01-01     1/13/2016      1269051         0
3            366002 2016-01-01     1/12/2016       266019         0
4            366002 2016-01-01     1/12/2016       266019         0
...             ...        ...           ...          ...       ...
62879       2243030 2021-02-20          None      1216913        43
62880       2243031 2021-02-20     2/24/2021       511229         0
62881       2243032 2021-02-20     2/23/2021       331277         0
62882       2243032 2021-02-20     2/23/2021       331277         0
62883       2243032 2021-02-20     2/23/2021       331277         0

       ProductKey  Quantity  Gender State Code     Customer_state  ...  \
0            1304         1    Male         ON            Ontario  ...
1            1048         2    Male         CA         California  ...
2            2007         1    Male         CA         California  ...
3            1106         7  Female         AB            Alberta  ...
4             373         1  Female         AB            Alberta  ...
...           ...       ...     ...        ...                ...  ...
62879         632         3    Male         CA         California  ...
62880          98         4  Female         BW  Baden-Württemberg  ...
62881        1613         2    Male         AB            Alberta  ...
62882        1717         2    Male         AB            Alberta  ...
62883         464         7    Male         AB            Alberta  ...

      SubcategoryKey                       Subcategory CategoryKey  \
0                406  Cameras & Camcorders Accessories           4
1                402               Digital SLR Cameras           4
2                803                        Microwaves           8
3                402               Digital SLR Cameras           4
4                301                           Laptops           3
...              ...                               ...         ...
62879            305              Projectors & Screens           3
62880            106              Bluetooth Headphones           1
62881            602                         Movie DVD           6
62882            702                    Download Games           7
62883            304                          Monitors           3

                            Category  Store_country Store_state  \
0             Cameras and camcorders         Canada     Nunavut
1             Cameras and camcorders         Online      Online
2                    Home Appliances         Online      Online
3             Cameras and camcorders         Online      Online
4                          Computers         Online      Online
...                              ...            ...         ...
62879                      Computers  United States      Alaska
62880                          Audio         Online      Online
62881  Music, Movies and Audio Books         Online      Online
62882                 Games and Toys         Online      Online
62883                      Computers         Online      Online

       Square Meters  Open Date  Gross_profit customer_age
0             1210.0   4/4/2015         36.73           44
1                NaN   1/1/2010        285.53           20
2                NaN   1/1/2010        445.30           20
3                NaN   1/1/2010        173.92           53
4                NaN   1/1/2010        159.80           53
...              ...        ...           ...          ...
62879         1190.0   1/1/2015         68.13           81
62880            NaN   1/1/2010         64.82           81
62881            NaN   1/1/2010         53.91           27
62882            NaN   1/1/2010         37.88           27
62883            NaN   1/1/2010        454.03           27

[62884 rows x 28 columns]

In [57]:
import mysql.connector
import pandas as pd
df_filtered.columns = df_filtered.columns.str.replace(' ', '_')


print("Modified column names:")
print(df_filtered.columns.tolist())

Modified column names:
['Order_Number', 'Order_Date', 'Delivery_Date', 'CustomerKey', 'StoreKey', 'ProductKey', 'Quantity', 'Gender', 'State_Code', 'Customer_state', 'Zip_Code', 'Customer_country', 'Birthday', 'Product_Name', 'Brand', 'Color', 'Unit_Cost_USD', 'Unit_Price_USD', 'SubcategoryKey', 'Subcategory', 'CategoryKey', 'Category', 'Store_country', 'Store_state', 'Square_Meters', 'Open_Date', 'Gross_profit', 'customer_age']

In [66]:
import pandas as pd
import mysql.connector
# Fill missing values
df_filtered['Delivery_Date'] = df_filtered['Delivery_Date'].where(df_filtered['Delivery_Date'].notna(), None)  # Replace NaN with None (NULL)
df_filtered['Square_Meters'] = df_filtered['Square_Meters'].fillna(0)  # Replace NaN with 0


db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'project2'
}


try:
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()

    create_table_query = """
    CREATE TABLE IF NOT EXISTS your_table_name (
        Order_Number INT,
        Order_Date DATETIME,
        Delivery_Date DATETIME,
        CustomerKey INT,
        StoreKey INT,
        ProductKey INT,
        Quantity INT,
        Gender VARCHAR(10),
        State_Code VARCHAR(10),
        Customer_state VARCHAR(50),
        Zip_Code VARCHAR(10),
        Customer_country VARCHAR(50),
        Birthday DATE,
        Product_Name VARCHAR(100),
        Brand VARCHAR(50),
        Color VARCHAR(30),
        Unit_Cost_USD FLOAT,
        Unit_Price_USD FLOAT,
        SubcategoryKey INT,
        Subcategory VARCHAR(100),
        CategoryKey INT,
        Category VARCHAR(100),
        Store_country VARCHAR(50),
        Store_state VARCHAR(50),
        Square_Meters FLOAT,
        Open_Date DATE,
        Gross_profit FLOAT,
        customer_age INT
    )
    """
    cursor.execute(create_table_query)
    
    
    for index, row in df_filtered.iterrows():
        delivery_date = row['Delivery_Date'] if pd.notna(row['Delivery_Date']) else None  

        row_data = (
            row['Order_Number'], row['Order_Date'], delivery_date, row['CustomerKey'],
            row['StoreKey'], row['ProductKey'], row['Quantity'], row['Gender'],
            row['State_Code'], row['Customer_state'], row['Zip_Code'], 
            row['Customer_country'], row['Birthday'], row['Product_Name'], 
            row['Brand'], row['Color'], row['Unit_Cost_USD'], 
            row['Unit_Price_USD'], row['SubcategoryKey'], row['Subcategory'],
            row['CategoryKey'], row['Category'], row['Store_country'], 
            row['Store_state'], row['Square_Meters'], row['Open_Date'], 
            row['Gross_profit'], row['customer_age']
        )

        insert_query = """
        INSERT INTO your_table_name (
            Order_Number, Order_Date, Delivery_Date, CustomerKey, StoreKey,
            ProductKey, Quantity, Gender, State_Code, Customer_state,
            Zip_Code, Customer_country, Birthday, Product_Name, Brand,
            Color, Unit_Cost_USD, Unit_Price_USD, SubcategoryKey,
            Subcategory, CategoryKey, Category, Store_country,
            Store_state, Square_Meters, Open_Date, Gross_profit, customer_age
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        
        try:
            cursor.execute(insert_query, row_data)
        except mysql.connector.Error as e:
            print(f"Error inserting row: {row}\nError: {e}")

   
    connection.commit()
    
except mysql.connector.Error as e:
    print(f"Database connection error: {e}")
finally:
    
    if cursor:
        cursor.close()
    if connection:
        connection.close()

In [68]:
df_filtered.to_csv('df_filtered.csv', index=False)

In [51]:
import pandas as pd
import mysql.connector


db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'project2'
}


try:
    conn = mysql.connector.connect(**db_config)


    query = "SELECT * FROM your_table_name;"
    df = pd.read_sql(query, conn)

 
    csv_file_path = 'your_table.csv'
    df.to_csv(csv_file_path, index=False)
    print(f"Data has been exported to {csv_file_path}")

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:

    if conn.is_connected():
        conn.close()

C:\Users\Karthikeyan\AppData\Local\Temp\ipykernel_16500\1310058846.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

Data has been exported to your_table.csv

In [89]:
#original
!pip install SQLAlchemy mysql-connector-python
from sqlalchemy import create_engine
import mysql.connector
from tabulate import tabulate


connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database='project2'
)

cursor = connection.cursor()

from tabulate import tabulate

def execute_query(query, description, headers=None):
    cursor.execute(query)
    result = cursor.fetchall()
    
    print(f"\n{description}:")
    
    if headers:
        print(tabulate(result, headers=headers, tablefmt="grid"))
    else:
        print(tabulate(result, tablefmt="grid"))


import pandas as pd

query_1 = """
SELECT Customer_country, SUM(Gross_profit) AS Total_Gross_Profit
FROM your_table_name
GROUP BY Customer_country
ORDER BY Total_Gross_Profit DESC;
"""


cursor.execute(query_1)
result = cursor.fetchall()


df = pd.DataFrame(result, columns=["Country", "Total Gross Profit"])


df["Total Gross Profit"] = df["Total Gross Profit"].apply(lambda x: f'{x:,.2f}')


print("\nTotal Gross Profit by Country:")
print(tabulate(df.values, headers=df.columns, tablefmt="grid"))




query_2 = """
SELECT Customer_country, AVG(customer_age) AS Average_Age
FROM your_table_name
GROUP BY Customer_country
ORDER BY Average_Age DESC;
"""
execute_query(query_2, "Average Customer Age by Country", headers=["Country", "Average Age"])


query_3 = """
SELECT Subcategory, SUM(Quantity) AS Total_Quantity_Sold
FROM your_table_name
GROUP BY Subcategory
ORDER BY Total_Quantity_Sold DESC;
"""
execute_query(query_3, "Total Quantity Sold by Product_types", headers=["Product Type", "Total Quantity Sold"])


query_4 = """
SELECT Brand, SUM(Unit_Price_USD * Quantity) AS Total_Revenue
FROM your_table_name
GROUP BY Brand
ORDER BY Total_Revenue DESC;
"""


cursor.execute(query_4)
result = cursor.fetchall()


df = pd.DataFrame(result, columns=["Brand", "Total Revenue"])


df["Total Revenue"] = df["Total Revenue"].apply(lambda x: f'{x:,.2f}')


print("\nTotal Revenue by Brand:")
print(tabulate(df.values, headers=df.columns, tablefmt="grid"))


query_5 = """
SELECT Gender, Customer_country, COUNT(Order_Number) AS Number_of_Orders
FROM your_table_name
GROUP BY Gender, Customer_country
ORDER BY Number_of_Orders DESC;
"""
execute_query(query_5, "Orders by Gender and Country", headers=["Gender", "Country", "Number of Orders"])


query_6 = """
SELECT 
    CASE 
        WHEN StoreKey = 0 THEN 'Online Sales'
        ELSE 'Physical Stores'
    END AS Store_Type,
    SUM(Gross_profit) AS Total_Gross_Profit
FROM your_table_name
GROUP BY Store_Type;
"""


cursor.execute(query_6)
result = cursor.fetchall()


df = pd.DataFrame(result, columns=["Store Type", "Total Gross Profit"])


df["Total Gross Profit"] = df["Total Gross Profit"].apply(lambda x: f'{x:,.2f}')


print("\nTotal Gross Profit: Online vs. Physical Stores:")
print(tabulate(df.values, headers=df.columns, tablefmt="grid"))


query_7 = """
SELECT DATE_FORMAT(Order_Date, '%Y-%m') AS Month, SUM(Gross_profit) AS Total_Gross_Profit
FROM your_table_name
GROUP BY Month
ORDER BY Month;
"""
execute_query(query_7, "Monthly Sales Analysis", headers=["Month", "Total Gross Profit"])


query_8 = """
SELECT Product_Name, SUM(Quantity) AS Total_Units_Sold
FROM your_table_name
GROUP BY Product_Name
ORDER BY Total_Units_Sold DESC
LIMIT 5;
"""
execute_query(query_8, "Top 5 Best-Selling Products", headers=["Product Name", "Total Units Sold"])


query_top_product_age_group = """
WITH RankedProducts AS (
    SELECT 
        CASE 
            WHEN customer_age BETWEEN 0 AND 9 THEN '0-9'
            WHEN customer_age BETWEEN 10 AND 19 THEN '10-19'
            WHEN customer_age BETWEEN 20 AND 29 THEN '20-29'
            WHEN customer_age BETWEEN 30 AND 39 THEN '30-39'
            WHEN customer_age BETWEEN 40 AND 49 THEN '40-49'
            WHEN customer_age BETWEEN 50 AND 59 THEN '50-59'
            WHEN customer_age BETWEEN 60 AND 69 THEN '60-69'
            WHEN customer_age BETWEEN 70 AND 79 THEN '70-79'
            WHEN customer_age >= 80 THEN '80+'
            ELSE 'Unknown'
        END AS Age_Group,
        Product_Name,
        SUM(Quantity) AS Total_Units_Sold,
        ROW_NUMBER() OVER (PARTITION BY 
            CASE 
                WHEN customer_age BETWEEN 0 AND 9 THEN '0-9'
                WHEN customer_age BETWEEN 10 AND 19 THEN '10-19'
                WHEN customer_age BETWEEN 20 AND 29 THEN '20-29'
                WHEN customer_age BETWEEN 30 AND 39 THEN '30-39'
                WHEN customer_age BETWEEN 40 AND 49 THEN '40-49'
                WHEN customer_age BETWEEN 50 AND 59 THEN '50-59'
                WHEN customer_age BETWEEN 60 AND 69 THEN '60-69'
                WHEN customer_age BETWEEN 70 AND 79 THEN '70-79'
                WHEN customer_age >= 80 THEN '80+'
                ELSE 'Unknown'
            END 
            ORDER BY SUM(Quantity) DESC) AS Rank
    FROM your_table_name
    GROUP BY Age_Group, Product_Name
)
SELECT Age_Group, Product_Name, Total_Units_Sold
FROM RankedProducts
WHERE Rank = 1
ORDER BY Age_Group;
"""

cursor.execute(query_top_product_age_group)
result = cursor.fetchall()

df_top_product_age_group = pd.DataFrame(result, columns=["Age Group", "Product Name", "Total Units Sold"])


print("\nTop Product Preferred by Each Age Group:")
print(tabulate(df_top_product_age_group.values, headers=df_top_product_age_group.columns, tablefmt="grid"))

query = """
SELECT Store_state, SUM(Gross_profit) AS Total_Gross_Profit
FROM your_table_name
WHERE Store_state != 'Online'
GROUP BY Store_state
ORDER BY Total_Gross_Profit DESC
LIMIT 10;
"""

try:
    
    df = pd.read_sql(query, engine)

  
    print("Top 10 Stores based on Gross profit")
    print(df)

except Exception as err:
    print(f"Error: {err}")


cursor.close()
connection.close()

Requirement already satisfied: SQLAlchemy in c:\users\karthikeyan\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: mysql-connector-python in c:\users\karthikeyan\anaconda3\lib\site-packages (9.0.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\karthikeyan\anaconda3\lib\site-packages (from SQLAlchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\karthikeyan\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)

Total Gross Profit by Country:
+----------------+----------------------+
| Country        | Total Gross Profit   |
+================+======================+
| United States  | 5,862,024.74         |
+----------------+----------------------+
| United Kingdom | 1,431,849.73         |
+----------------+----------------------+
| Germany        | 1,038,006.76         |
+----------------+----------------------+
| Canada         | 946,569.60           |
+----------------+----------------------+
| Australia      | 538,863.68           |
+----------------+----------------------+
| Italy          | 517,512.85           |
+----------------+----------------------+
| Netherlands    | 381,486.25           |
+----------------+----------------------+
| France         | 307,932.24           |
+----------------+----------------------+

Average Customer Age by Country:
+----------------+---------------+
| Country        |   Average Age |
+================+===============+
| United States  |       49.8792 |
+----------------+---------------+
| France         |       49.7012 |
+----------------+---------------+
| Australia      |       49.6374 |
+----------------+---------------+
| Germany        |       49.5063 |
+----------------+---------------+
| Netherlands    |       48.5653 |
+----------------+---------------+
| Italy          |       48.3974 |
+----------------+---------------+
| Canada         |       48.2878 |
+----------------+---------------+
| United Kingdom |       48.1751 |
+----------------+---------------+

Total Quantity Sold by Product_types:
+----------------------------------+-----------------------+
| Product Type                     |   Total Quantity Sold |
+==================================+=======================+
| Movie DVD                        |                 30847 |
+----------------------------------+-----------------------+
| Desktops                         |                 21377 |
+----------------------------------+-----------------------+
| Bluetooth Headphones             |                 14387 |
+----------------------------------+-----------------------+
| Download Games                   |                 12079 |
+----------------------------------+-----------------------+
| Boxed Games                      |                 11500 |
+----------------------------------+-----------------------+
| Touch Screen Phones              |                 11036 |
+----------------------------------+-----------------------+
| Smart phones & PDAs              |                 10387 |
+----------------------------------+-----------------------+
| Recording Pen                    |                  7006 |
+----------------------------------+-----------------------+
| Televisions                      |                  6317 |
+----------------------------------+-----------------------+
| Home & Office Phones             |                  5687 |
+----------------------------------+-----------------------+
| Cell phones Accessories          |                  5522 |
+----------------------------------+-----------------------+
| Microwaves                       |                  5254 |
+----------------------------------+-----------------------+
| Laptops                          |                  5146 |
+----------------------------------+-----------------------+
| Water Heaters                    |                  5003 |
+----------------------------------+-----------------------+
| Projectors & Screens             |                  4937 |
+----------------------------------+-----------------------+
| Cameras & Camcorders Accessories |                  4932 |
+----------------------------------+-----------------------+
| Camcorders                       |                  4927 |
+----------------------------------+-----------------------+
| Computers Accessories            |                  4820 |
+----------------------------------+-----------------------+
| Printers, Scanners & Fax         |                  4811 |
+----------------------------------+-----------------------+
| Monitors                         |                  4767 |
+----------------------------------+-----------------------+
| Digital SLR Cameras              |                  4667 |
+----------------------------------+-----------------------+
| Digital Cameras                  |                  4632 |
+----------------------------------+-----------------------+
| MP4&MP3                          |                  3422 |
+----------------------------------+-----------------------+
| VCD & DVD                        |                  3168 |
+----------------------------------+-----------------------+
| Refrigerators                    |                  2610 |
+----------------------------------+-----------------------+
| Coffee Machines                  |                  2530 |
+----------------------------------+-----------------------+
| Car Video                        |                  1521 |
+----------------------------------+-----------------------+
| Home Theater System              |                  1506 |
+----------------------------------+-----------------------+
| Fans                             |                  1380 |
+----------------------------------+-----------------------+
| Lamps                            |                  1288 |
+----------------------------------+-----------------------+
| Washers & Dryers                 |                  1288 |
+----------------------------------+-----------------------+
| Air Conditioners                 |                   973 |
+----------------------------------+-----------------------+

Total Revenue by Brand:
+----------------------+-----------------+
| Brand                | Total Revenue   |
+======================+=================+
| Adventure Works      | 12,756,504.76   |
+----------------------+-----------------+
| Contoso              | 11,639,197.77   |
+----------------------+-----------------+
| Wide World Importers | 9,578,946.10    |
+----------------------+-----------------+
| Fabrikam             | 7,460,109.53    |
+----------------------+-----------------+
| The Phone Company    | 5,573,959.00    |
+----------------------+-----------------+
| Proseware            | 3,339,875.79    |
+----------------------+-----------------+
| Litware              | 2,952,927.35    |
+----------------------+-----------------+
| Southridge Video     | 2,787,847.21    |
+----------------------+-----------------+
| A. Datum             | 1,613,533.70    |
+----------------------+-----------------+
| Northwind Traders    | 1,240,994.74    |
+----------------------+-----------------+
| Tailspin Toys        | 711,459.33      |
+----------------------+-----------------+

Orders by Gender and Country:
+----------+----------------+--------------------+
| Gender   | Country        |   Number of Orders |
+==========+================+====================+
| Male     | United States  |              18240 |
+----------+----------------+--------------------+
| Female   | United States  |              17312 |
+----------+----------------+--------------------+
| Male     | United Kingdom |               4435 |
+----------+----------------+--------------------+
| Female   | United Kingdom |               4304 |
+----------+----------------+--------------------+
| Female   | Germany        |               3240 |
+----------+----------------+--------------------+
| Male     | Germany        |               3039 |
+----------+----------------+--------------------+
| Female   | Canada         |               2881 |
+----------+----------------+--------------------+
| Male     | Canada         |               2879 |
+----------+----------------+--------------------+
| Female   | Australia      |               1639 |
+----------+----------------+--------------------+
| Male     | Italy          |               1517 |
+----------+----------------+--------------------+
| Male     | Australia      |               1475 |
+----------+----------------+--------------------+
| Female   | Italy          |               1417 |
+----------+----------------+--------------------+
| Male     | Netherlands    |               1246 |
+----------+----------------+--------------------+
| Female   | Netherlands    |               1121 |
+----------+----------------+--------------------+
| Female   | France         |               1008 |
+----------+----------------+--------------------+
| Male     | France         |                856 |
+----------+----------------+--------------------+

Total Gross Profit: Online vs. Physical Stores:
+-----------------+----------------------+
| Store Type      | Total Gross Profit   |
+=================+======================+
| Online Sales    | 2,119,175.32         |
+-----------------+----------------------+
| Physical Stores | 8,905,070.53         |
+-----------------+----------------------+

Monthly Sales Analysis:
+---------+----------------------+
| Month   |   Total Gross Profit |
+=========+======================+
| 2016-01 |             224253   |
+---------+----------------------+
| 2016-02 |             292792   |
+---------+----------------------+
| 2016-03 |             116438   |
+---------+----------------------+
| 2016-04 |              38743.9 |
+---------+----------------------+
| 2016-05 |             184804   |
+---------+----------------------+
| 2016-06 |             180315   |
+---------+----------------------+
| 2016-07 |             156139   |
+---------+----------------------+
| 2016-08 |             178649   |
+---------+----------------------+
| 2016-09 |             161969   |
+---------+----------------------+
| 2016-10 |             109708   |
+---------+----------------------+
| 2016-11 |             120378   |
+---------+----------------------+
| 2016-12 |             198550   |
+---------+----------------------+
| 2017-01 |             131168   |
+---------+----------------------+
| 2017-02 |             148873   |
+---------+----------------------+
| 2017-03 |              62411   |
+---------+----------------------+
| 2017-04 |              10375.7 |
+---------+----------------------+
| 2017-05 |             117781   |
+---------+----------------------+
| 2017-06 |             106286   |
+---------+----------------------+
| 2017-07 |             100416   |
+---------+----------------------+
| 2017-08 |             112069   |
+---------+----------------------+
| 2017-09 |             130682   |
+---------+----------------------+
| 2017-10 |             120276   |
+---------+----------------------+
| 2017-11 |             122200   |
+---------+----------------------+
| 2017-12 |             235011   |
+---------+----------------------+
| 2018-01 |             175062   |
+---------+----------------------+
| 2018-02 |             237934   |
+---------+----------------------+
| 2018-03 |              85806.2 |
+---------+----------------------+
| 2018-04 |              15343.4 |
+---------+----------------------+
| 2018-05 |             202476   |
+---------+----------------------+
| 2018-06 |             171163   |
+---------+----------------------+
| 2018-07 |             174518   |
+---------+----------------------+
| 2018-08 |             202848   |
+---------+----------------------+
| 2018-09 |             210284   |
+---------+----------------------+
| 2018-10 |             231529   |
+---------+----------------------+
| 2018-11 |             270053   |
+---------+----------------------+
| 2018-12 |             392423   |
+---------+----------------------+
| 2019-01 |             355545   |
+---------+----------------------+
| 2019-02 |             366927   |
+---------+----------------------+
| 2019-03 |             149176   |
+---------+----------------------+
| 2019-04 |              25988.6 |
+---------+----------------------+
| 2019-05 |             293551   |
+---------+----------------------+
| 2019-06 |             271906   |
+---------+----------------------+
| 2019-07 |             258977   |
+---------+----------------------+
| 2019-08 |             289509   |
+---------+----------------------+
| 2019-09 |             300429   |
+---------+----------------------+
| 2019-10 |             298120   |
+---------+----------------------+
| 2019-11 |             308219   |
+---------+----------------------+
| 2019-12 |             458868   |
+---------+----------------------+
| 2020-01 |             381956   |
+---------+----------------------+
| 2020-02 |             413658   |
+---------+----------------------+
| 2020-03 |             124794   |
+---------+----------------------+
| 2020-04 |              35388.8 |
+---------+----------------------+
| 2020-05 |             173418   |
+---------+----------------------+
| 2020-06 |             134433   |
+---------+----------------------+
| 2020-07 |              91520.2 |
+---------+----------------------+
| 2020-08 |              77773.9 |
+---------+----------------------+
| 2020-09 |              68427.2 |
+---------+----------------------+
| 2020-10 |              48857   |
+---------+----------------------+
| 2020-11 |              54186.6 |
+---------+----------------------+
| 2020-12 |             122323   |
+---------+----------------------+
| 2021-01 |             102300   |
+---------+----------------------+
| 2021-02 |              88267.7 |
+---------+----------------------+

Top 5 Best-Selling Products:
+--------------------------------------------+--------------------+
| Product Name                               |   Total Units Sold |
+============================================+====================+
| WWI Desktop PC2.33 X2330 Black             |                576 |
+--------------------------------------------+--------------------+
| Adventure Works Desktop PC1.80 ED180 Black |                555 |
+--------------------------------------------+--------------------+
| WWI Desktop PC1.80 E1800 White             |                554 |
+--------------------------------------------+--------------------+
| Adventure Works Desktop PC2.30 MD230 White |                542 |
+--------------------------------------------+--------------------+
| WWI Desktop PC1.60 E1600 Black             |                541 |
+--------------------------------------------+--------------------+

Top Product Preferred by Each Age Group:
+-------------+---------------------------------------------+--------------------+
| Age Group   | Product Name                                |   Total Units Sold |
+=============+=============================================+====================+
| 10-19       | Adventure Works Desktop PC1.80 ED180 Black  |                 54 |
+-------------+---------------------------------------------+--------------------+
| 20-29       | Adventure Works Desktop PC1.60 ED160 Black  |                137 |
+-------------+---------------------------------------------+--------------------+
| 30-39       | WWI Desktop PC2.33 X2330 Black              |                137 |
+-------------+---------------------------------------------+--------------------+
| 40-49       | WWI Desktop PC1.80 E1800 White              |                141 |
+-------------+---------------------------------------------+--------------------+
| 50-59       | Adventure Works Desktop PC2.33 XD233 Silver |                135 |
+-------------+---------------------------------------------+--------------------+
| 60-69       | WWI Desktop PC1.80 E1802 White              |                114 |
+-------------+---------------------------------------------+--------------------+
| 70-79       | WWI Desktop PC3.0 M0300 Black               |                101 |
+-------------+---------------------------------------------+--------------------+
| 80+         | Adventure Works Desktop PC1.80 ED180 Black  |                 62 |
+-------------+---------------------------------------------+--------------------+
Top 10 Stores based on Gross profit
                 Store_state  Total_Gross_Profit
0                     Nevada          278,805.26
1      Northwest Territories          277,217.97
2                   Nebraska          276,728.18
3                 New Mexico          274,179.97
4                     Kansas          268,093.05
5                Connecticut          264,550.99
6             South Carolina          259,298.86
7                     Oregon          254,215.83
8                      Maine          253,651.55
9  Newfoundland and Labrador          252,549.68